.promo{
    padding: 184px 0 224px;
    background-color: #465DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../../images/promo.svg');
    background-repeat: no-repeat;
    background-position: bottom 122px center;
}

.promo__title{
    box-sizing: border-box;
    margin: 0;
    max-width: 730px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

@media screen and (max-width: 987px) {
    .promo{
        padding: 326px 0 342px;
        background-position: bottom 240px center;
    }
}

@media screen and (max-width: 627px) {
    .promo{
        padding: 207px 0 246px;
        background-size: 240px 240px;
        background-position: bottom 180px center;
    }

    .promo__title{
        font-size: 31px;
        line-height: 39px;
    }
}

@media screen and (max-width: 340px) {
    .promo__title{
        max-width: 320px;
    }
}