.aboutme__photo{
    margin: 0;
    padding: 0;
    height: 327px;
    width: 270px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 987px) {
    .aboutme__photo{
        height: 307px;
        width: 255px;
    }
}

@media screen and (max-width: 627px) {
    .aboutme__photo{
        height: 352px;
        width: 292px;
    }
}