.about-project__timeline{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-top: 110px;
    display: flex;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
}

.about-project__timeline-text{
    font-weight: 400;
    line-height: 17px;
}

.about-project__timeline-done{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2BE080;
}

.about-project__timeline-still{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F2F2F2;
}

.about-project__timeline_capt{
    color: #A0A0A0  ;
    font-weight: 500;
    line-height: 17px;
}

@media screen and (max-width: 987px) {
    .about-project__timeline{
        padding-top: 93px;
    }
}

@media screen and (max-width: 627px) {
    .about-project__timeline{
        padding-top: 60px;
        font-size: 11px;
    }

    .about-project__timeline-done{
        line-height: 14px;
    }

    .about-project__timeline-still{
        line-height: 14px;
    }

    .about-project__timeline_capt{
        line-height: 14px;
    }
}