.link_color_black{
    color: black;
}

.link_color_white{
    color: white;
}

.link-active{
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}

.link-active:hover{
    opacity: .7;
}